@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.start-width {
  width: 500px;
}

.error-page-content {
    height: 100%;
}

.page-footer-text {
    @extend .dark-background-color;
    @extend .text-center;
    @extend .font-color-gold;
}

.dark-background-color {
  background-color: #212529;
}

.font-color-gold {
  color: #cbbcb1 !important;
}

.logo {
  color: #cbbcb1 !important;
  font-size: xx-large;
}

.logo-divulgit {
  width: 10%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: #000000;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.toast-body {
  padding: 0.75rem;
}

.task-state-badge {
  @extend .badge;
  @extend .text-white;
}

.task-state-badge-WAITING {
  @extend .task-state-badge;
  @extend .bg-warning;
  @extend .text-dark;
}

.task-state-badge-RUNNING {
  @extend .task-state-badge;
  @extend .bg-primary;
}

.task-state-badge-FINISHED {
  @extend .task-state-badge;
  @extend .bg-success;
}

.task-state-badge-ERROR {
  @extend .task-state-badge;
  @extend .bg-danger;
}

.mr-state-bage {
  @extend .badge;
  @extend .text-white;
}

.mr-state-merged {
  @extend .mr-state-bage;
  @extend .bg-success;
}

.mr-state-closed {
  @extend .mr-state-bage;
  @extend .bg-danger;
}

.mr-state-opened {
  @extend .mr-state-bage;
  @extend .bg-primary;
}

.comment-delete-button {
  color: $gray-200;
}

.comment-delete-button:hover {
  color: $red;
}

.comment-hide-button {
    color: $gray-200;
}

.mergeRequest-text-column-width {
    width: 720px;
    word-wrap: break-word;
}