<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
    <section class="py-4 text-center container start-width">
        <form id="login-form" method="post" action="/login">
            <input id="principal" name="principal" type="hidden">
            <input id="plataform" name="plataform" type="hidden">
            <div class="mb-3">
                <p>O DivulGit não armazena o seu token, ele sempre será a sua credencial de acesso e deverá sempre ser informado.</p>

                <select id="select-repository-type" name="repositoryType" class="form-select" aria-label="Selecione o seu repositório">
                    <option selected>Selecione o seu repositório</option>
                    <option value='{"askUrl":"false", "askUsername":"true", "url":"api.bitbucket.org", "plataform":"BITBUCKET"}'>Bitbucket Cloud</option>
                    <option value='{"askUrl":"true", "askUsername":"true", "plataform":"BITBUCKET"}'>Bitbucket Server</option>
                    <option value='{"askUrl":"false", "askUsername":"false", "url":"gitlab.com", "plataform":"GITLAB"}'>GitLab - www.gitlab.com</option>
                    <option value='{"askUrl":"true", "askUsername":"false", "plataform":"GITLAB"}'>GitLab - on-premisses</option>
                    <option value='{"askUrl":"false", "askUsername":"false", "url":"api.github.com", "plataform":"GITHUB"}'>GitHub - www.github.com</option>
                </select>
            </div>
            <div class="mb-3">
                <input id="remoteurl" name="remoteurl" class="form-control" type="text" placeholder="Informe a url do seu Git. Ex: git.minhaempresa.com" aria-label="Outro repositório">
            </div>
            <div class="mb-3">
                <input id="remoteusername" name="remoteusername" class="form-control" placeholder="Informe seu nome de usuário" type="text">
            </div>
            <div class="mb-3">
                <input
                        name="password"
                        class="form-control"
                        type="password"
                        placeholder="Informe a sua chave de acesso a API do seu repositório">
                <p>A API Access Token necessária para o DivulGit acessar as informações do seu repositório (<a href="/token">Como obter?</a>)</p>

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Iniciar agora</button>
            </div>
        </form>
    </section>
    <script>
        const remoteUrl = "#remoteurl";
        const remoteUsername = "#remoteusername";
        const selectRepositoryTypeId = "#select-repository-type";

        $(document).ready(function() {
            $(remoteUrl).hide();
            $(remoteUsername).hide();
        });

        $(selectRepositoryTypeId).change(function() {
            var selectedRepository = $(selectRepositoryTypeId).val();
            var repositoryConfig = JSON.parse(selectedRepository);
            $("#plataform").val(repositoryConfig.plataform);
            if (repositoryConfig.askUrl == 'true') {
                $(remoteUrl).val('');
                $(remoteUrl).show(200);
                $(remoteUrl).prop( "readonly", false );
            } else {
                $(remoteUrl).val(repositoryConfig.url);
                $(remoteUrl).hide(200);
                $(remoteUrl).prop( "readonly", true );
            }
            if (repositoryConfig.askUsername == 'true') {
                $(remoteUsername).val('');
                $(remoteUsername).show(200);
                $(remoteUsername).prop( "readonly", false );
            } else {
                $(remoteUsername).val('');
                $(remoteUsername).hide(200);
                $(remoteUsername).prop( "readonly", true );
            }
        });

        $("#login-form").submit(function() {
            var username = $(remoteUsername).val();
            var domain = $(remoteUrl).val();
            var plataform = $("#plataform").val();
            $("#principal").val('{"username":"'+ username +'", "domain":"'+ domain +'", "plataform":"'+ plataform +'"}');
        });
    </script>
</main>
</body>
</html>