<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
    <section class="py-4 text-center container start-width">
        <form method="post" action="/login">
            <div class="mb-3">
                <p>O DivulGit não armazena o seu token, ele sempre será a sua credencial de acesso e deverá sempre ser informado.</p>

                <select id="select-repository-type" name="repositoryType" class="form-select" aria-label="Selecione o seu repositório">
                    <option selected>Selecione o seu repositório</option>
                    <option value="gitlab.com">GitLab - www.gitlab.com</option>
                    <option value="api.github.com">GitHub - www.github.com</option>
                    <option value="other">GitLab - on-premisses (somente GitLab)</option>
                </select>
            </div>
            <div class="mb-3">
                <input id="input-other-repository-url" name="username" class="form-control" type="text" placeholder="Ex: git.minhaempresa.com" aria-label="Outro repositório">
            </div>
            <div class="mb-3">
                <input
                        name="password"
                        class="form-control"
                        type="password"
                        placeholder="Informe a sua chave de acesso a API do seu repositório">
                <p>A chave privada (preferencialmente read-only) necessária para o DivulGit acessar a API do seu repositório (<a href="">Como obter?</a>)</p>

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Iniciar agora</button>
            </div>
        </form>
    </section>
    <script>
        const inputOtherRepositoryURLId = "#input-other-repository-url";
        const selectRepositoryTypeId = "#select-repository-type";

        $(document).ready(function() {
            $(inputOtherRepositoryURLId).hide();
        });

        $(selectRepositoryTypeId).change(function() {
            var selectedRepository = $(selectRepositoryTypeId).val();
            if (selectedRepository == 'other') {
                $(inputOtherRepositoryURLId).show(200);
                $(inputOtherRepositoryURLId).prop( "readonly", false );
                $(inputOtherRepositoryURLId).val('');
            } else {
                $(inputOtherRepositoryURLId).hide(200);
                $(inputOtherRepositoryURLId).prop( "readonly", true );
                $(inputOtherRepositoryURLId).val(selectedRepository);
            }
        });
    </script>
</main>
</body>
</html>