<body th:replace="~{base :: layout (~{:: main})}">
   <main>
   <div id="projectsInProgressAlert" class="collapse">
      <br/>
      <div class="alert alert-success" role="alert">
         Projects scan in progress, it may take a while. Go to <a href="/in/tasks" class="alert-link">tasks</a> page or refresh in a few moments.
      </div>
   </div>
   </br>
   <span th:if="${viewMode == 'main'}">
      <div class="row justify-content-between">
         <div class="col-4">
            <button type="button" class="btn btn-dark btn-sm" href="javascript:void(0)" onclick="javascript:scanRemoteForProjets()">scan projets</button>
         </div>
         <div class="col-4 text-right">
            <button type="button" class="btn btn-outline-warning btn-sm" onclick="window.location='/in/tasks'">show tasks</button>
            <button type="button" class="btn btn-outline-warning btn-sm" onclick="window.location='/in/projects/ignored'">show ignoreds</button>
         </div>
      </div>
   </span>
      </br>
      <input type="hidden" id="currentProjectId"/>
      <table class="table table-hover">
         <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Not discussed<br/>Comments</th>
            <th scope="col" class="text-center">My content<br/>not discussed<br/><span style="font-size: 8pt">(requests + comments)</span></th>
            <th scope="col" class="text-center">Total<br/>Comments</th>
            <th scope="col" class="text-center">Last<br/>Discussion</th>
            <th scope="col" class="text-center">Last<br/>Scan</th>
            <th scope="col">Actions</th>
         </tr>
         <tr th:each="project : ${projects}" class="project-item" th:data-project-id="${project.id}">
            <td class="align-middle"><a th:href="${project.url}" target="_blank"><i class="bi bi-arrow-up-right-square"/></a></td>
            <td class="align-middle">
               <span th:text="${project.name}"></span>
               <span th:if="${project.isNew()}">
                  <span class="badge bg-success">new</span>
               </span>
            </td>
            <th:block th:if="${!project.isActive()}">
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </th:block>
            <th:block th:if="${project.isActive()}">
               <td class="text-center">
                  <span th:if="${project.commentsTotal - project.commentsDiscussed > 0}"
                        th:text="${project.commentsTotal} - ${project.commentsDiscussed}"></span>
               </td>
               <td class="text-center">
                  <span th:if="${project.mergeRequestsNotDiscussedByAuthor > 0 || project.commentsNotDiscussedByAuthor > 0}"
                     th:text="${project.mergeRequestsNotDiscussedByAuthor} + ' + ' + ${project.commentsNotDiscussedByAuthor}"></span>
               </td>
               <td class="text-center">
                  <span th:if="${project.commentsTotal > 0}" th:text="${project.commentsTotal}"></span>
               </td>
               <td class="text-center" th:text="${project.durationFromLastDiscussion}"></td>
               <td class="text-center" th:text="${project.durationFromLastScan}"></td>
            </th:block>
               <td th:id="'actions-' + ${project.id}">
                  <span th:if="${project.isNew()}">
                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#startScanModal" onclick="openStartScanModal(this)">start scan</button>
                     <button type="button" class="btn btn-outline-warning btn-sm" onclick="ignoreProject(getProjectElement(this), getProjectId(this));">ignore</button>
                  </span>
                  <span th:if="${project.isActive()}">
                     <button type="button" class="btn btn-success btn-sm" th:if="${project.commentsTotal > 0}" onclick="javascript:explore(getProjectId(this))">explore</button>
                     <button type="button" class="btn btn-outline-primary btn-sm" onclick="javascript:scanLastest(getProjectId(this))">rescan</button>
                     <button type="button" class="btn btn-outline-warning btn-sm" th:if="${project.commentsTotal == 0}"  onclick="ignoreProject(getProjectElement(this), getProjectId(this));">ignore</button>
                  </span>
                  <span th:if="${project.isIgnored()}">
                     <button type="button" class="btn btn-primary btn-sm" onclick="javascript:activateProject(getProjectElement(this), getProjectId(this))">activate</button>
                  </span>
               </td>
            </tr>
         </table>

        <!-- Modal -->
        <div class="modal fade" id="startScanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Start scan options</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Divulgit will scan all code reviews. It could be done from the first code review
                        or can start on the code review number that your team started using hashtag on comments, it will be faster.
                        <br/><br/>
                       <div class="container">
                          <div class="row">
                             <div class="col-4">From first</div>
                             <div class="col-8">From number</div>
                          </div>
                          <div class="row">
                             <div class="col-4">
                                <button type="button" class="btn btn-primary" onclick="javascript:startScanFromFirst()">Start scan</button>
                             </div>
                             <div class="col-8">
                                <table>
                                    <tr>
                                       <td><input type="number" class="form-control" id="startScanNumberInput" value="0" style="width:100px"></td>
                                       <td><button type="button" class="btn btn-primary" onclick="javascript:startScanFromNumber()">Start scan</button></td>
                                    </tr>
                                </table>
                             </div>
                          </div>
                          <br/>
                          <div class="form-check">
                             <input class="form-check-input" type="checkbox" id="redirectTasksPage" value="true" checked/>
                             <label class="form-check-label" for="redirectTasksPage">
                                Redirecting to tasks page after start
                             </label>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
         <script type="text/javascript" th:src="@{/js/projects.js}"></script>
    </main>
</body>
