<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
   <br/><br/>
   <h3>Azure</h3>
   <p>Logado em sua conta do Azure DevOps:
   <li>Clique no icone "User Settings" na barra superior, e acione "Personal Access Tokens"</li>
   <li>Clique em <b>[New Token]</b></li>
   <li>Informe um nome para o token, sugestão: <b>divulgit</b></li>
   <li>Informe para Organization o valor <b>All accessible organizations</b></li>
   <li>Informe uma data de expiração</li>
   <li>Para Scopes, selecione : [Custom defined]</li>
   <li>Nos escopos, marque: Work Itens > Read</li>
   <li>Clique <b>[Create]</b></li>
   <br/><br/>
   <h3>GitHub</h3>
   <p>Logado em sua conta do GitHub:
   <li>Acesse <a href="https://github.com/settings/tokens">https://github.com/settings/tokens</a>.</li>
   <li>Clique em <b>[Generate new token]</b></li>
   <li>Informe um nome para o token, sugestão: <b>divulgit</b></li>
   <li>Informe uma data de expiração</li>
   <li>Selecione a permissão: [repo - Full control of private repositories]</li>
   <li>Clique <b>[Generate token]</b></li>
   <br/><br/>
   <h3>GitLab</h3>
   <p>Logado em sua conta do GitLab:
   <li>Acesse <a href="https://gitlab.com/-/profile/personal_access_tokens">https://gitlab.com/-/profile/personal_access_tokens</a>.
   </li>
   <li>Informe um nome para o token, sugestão: <b>divulgit</b></li>
   <li>Informe uma data de expiração</li>
   <li>Selecione as permissões: <b>read_api</b></li>
   <li>Clique <b>[Create personal access token]</b></li>
</main>
</body>
</html>
